
/*******************TAG SELECORS****************************/
body {
    background-color: #ece2e1;;
}

hr {
    border-style: none;
    border-top: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
img:hover {
    background-color: gold;
}

/*******************CLASS SELECORS****************************/
.broccoli {
    background-color: red;
}
.circular {
    border-radius: 100%;
}



/*******************ID SELECORS****************************/
#heading{
    color: green;
}